.welcomeWrapper {
  display: flex;
  justify-content: space-between;
  padding-right: 30px;
  margin-bottom: 40px;
}

.welcomeMessage {
  color: #000;
  font-size: 22px;
  font-weight: 600;
}

.currentDate {
  color: #707070;
  font-size: 20px;
  font-weight: 500;
}

.filterWrapper {
  display: flex;
  justify-content: space-between;
  padding-right: 30px;
  margin-bottom: 40px;
}

.filterWrapper h3 {
  font-size: 29px;
  font-weight: 500;
}

.columnWrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  gap: 24px;
  box-sizing: border-box;
  overflow-x: scroll;
}

.taskColumn {
  border-radius: 10px;
  background: #eef2f5;
  min-width: 360px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 24px;
  gap: 16px;
}

.columnHeader {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.columnHeader h4 {
  font-weight: 600;
}

.colapseAllIcon {
  cursor: pointer;
  transition: opacity 0.2s ease;
}

.colapseAllIcon:hover {
  opacity: 65%;
}

.cardWrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}


/* add people buttons */

.boardHeadingWrapper{
  display: flex;
  align-items: center;
  gap: 20px;
}

.addPeopleButton{
  color: #707070;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  transition: opacity .2s ease;
}

.addPeopleButton:hover{
  opacity: 65%;
}


.createTaskButtonWrapper{
  display: flex;
  align-items: flex-start;
  gap: 20px;
}

.plusIcon{
  font-size: 24px;
  transition: opacity 0.2s ease;
  cursor: pointer;
  display: flex;
}
.plusIcon:hover{
  opacity: 65%;
}


.plusIcon img{
  margin-top: 5px;
}