.card {
  width: 100%;
  border-radius: 20px;
  background: #fff;
  padding: 24px;
  position: relative;
  overflow: visible;
}

.cardHeader {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
}

.priorityWrapper {
  display: flex;
  align-items: center;
  gap: 6px;
}

.priorityCircle {
  width: 9px;
  height: 9px;
  border-radius: 50%;
}

.redCircle {
  background-color: #ff2473;
}
.blueCircle {
  background-color: #18b0ff;
}
.greenCircle {
  background-color: #63c05b;
}

.priorityText {
  color: #707070;
  font-family: Poppins;
  font-size: 8px;
  font-weight: 600;
  line-height: normal;
}

.optionButton {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  height: 20px;
}

.titleWrapper {
  margin-bottom: 30px;
  color: #000;
  font-size: 18px;
  font-weight: 500;
  line-height: 32px;
}

.checklistWrapper {
  display: flex;
  flex-direction: column;
}

.checklistHeader {
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
  cursor: pointer;
}

.checklistText {
  font-size: 14px;
}

.dropDownButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 17.6px;
  height: 17.6px;
  border-radius: 3.2px;
  background: #eeecec;
  padding: 3.2px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.dropDownButton img {
  width: 10.267px;
  height: 5.133px;
}

.taskListWrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 28px;
}

.checklistTask {
  display: flex;
  gap: 10px;
  padding: 12px;
  border-radius: 12px;
  border: 1px solid #e2e2e2;
  margin-bottom: 10px;
}

.taskTitle {
  color: #000;
  font-size: 14px;
  font-weight: 400;
}

.cardToastWrapper {
  display: flex;
  justify-content: space-between;
}

.changerToastsWrapper {
  display: flex;
  gap: 8px;
  margin-left: auto;
}

.dueDateToast {
  background-color: #cf3636 !important;
  color: white !important;
}

.greenBackground{
  background-color: #63C05B !important;
  color: white !important;
}

.toast {
  display: inline-block;
  color: #767575;
  font-size: 8px;
  border-radius: 8px;
  background: #eeecec;
  padding: 5px 10px;
  cursor: pointer;
  transition: opacity 0.15s ease;
}

.toast:hover {
  opacity: 65%;
}

.loadingOverlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.902);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  border-radius: 20px;
}

.dropdownMenu {
  width: 150px;
  font-size: 14px;
  font-weight: 500;
  position: absolute;
  top: 40px;
  right: 15px;
  border-radius: 12px;
  background: #fff;
  box-shadow: 0px 2px 22px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  z-index: 20;
}

.dropdownItem {
  padding: 8px 16px;
  cursor: pointer;
  transition: all .1s ease-in;
}

.dropdownItem:hover {
  background-color: #f0f0f0;
}

.assignedToWrapper{
  background-color: #FFEBEB;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  font-size: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 1px;
}

.rotated{
  rotate: 180deg;
}
