.errorWrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  text-align: center;
}

.pageWrapper {
  width: 100vw;
  height: 100vh;
  max-width: 1400px;
  margin: 0 auto;
  padding: 60px 60px;
  display: flex;
  flex-direction: column;
  gap: 75px;
}

.logoWrapper {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 12px;
  font-weight: 700;
}

.taskWrapper {
  max-width: 588px;
  width: 100%;
  display: flex;
  padding: 62px 33px;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 12px;
  border: 2px solid #edf5fe;
  align-self: center;
}

.priorityWrapper {
  display: flex;
  align-items: center;
  gap: 6px;
  margin-bottom: 22px;
}

.priorityCircle {
  width: 9px;
  height: 9px;
  border-radius: 50%;
}

.redCircle {
  background-color: #ff2473;
}
.blueCircle {
  background-color: #18b0ff;
}
.greenCircle {
  background-color: #63c05b;
}

.priorityText {
  font-size: 8px;
  font-weight: 500;
}

.titleHeading {
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 44px;
}

.checkListWrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 20px;
  justify-content: start;
  width: 100%;
  margin-bottom: 16px;
}

.listWrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-height: 200px;
  overflow-y: auto;
  width: 100%;
}

.checklistItem {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  height: 44px;
  border-radius: 12px;
  border: 1px solid #e2e2e2;
  padding: 12px;
}

.itemInputWrapper {
  display: flex;
  gap: 8px;
  align-items: center;
  width: 70%;
}

.itemInput {
  font-size: 16px;
  font-weight: 400;
  border: none;
  flex-grow: 1;
}

.labelText {
  font-size: 14px;
}

.dueDateWrapper {
  display: flex;
  font-size: 14px;
  gap: 10px;
  align-items: center;
}

.coloredDueDate {
  border-radius: 8px;
  background-color: #cf3636;
  padding: 10px;
  color: white;
}


