.settingContainer {
  width: 100%;
}

.settingHeading {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 54px;
}

.inputWrapper {
  max-width: 400px;
  margin-bottom: 22px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  position: relative;
  justify-content: center;
  align-items: start;
}

.inputText {
  background: url(../../assets/email_icon.svg) no-repeat scroll 10px;
  padding-left: 55px;
  width: 100%;
  border-radius: 11px;
  height: 55px;
  border: 1.378px solid #d0d0d0;
  font-size: 20px;
  color: black;
  padding-right: 40px;
}

.inputText::placeholder {
  color: #828282;
}

.inputPassword {
  background: url(../../assets/lock_icon.svg) no-repeat scroll 10px;
}
.inputName {
  background: url(../../assets/person_icon.svg) no-repeat scroll 10px;
}

.primaryButton {
  width: 100%;
  background-color: #17a2b8;
  text-align: center;
  font-family: "Open Sans";
  font-size: 19.295px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 14px 30px;
  border-radius: 55px;
  border: none;
  color: white;
  transition: all 0.15s ease;
  cursor: pointer;
  margin-top: 20px;
}
.primaryButton:hover {
  opacity: 70%;
}

.error{
  color: #DB371F;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 23px; /* 164.286% */
  letter-spacing: 0.5px;
  }

  .eyeWrapper{
    position: absolute;
    padding-right: 10px;
    align-self: flex-end;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .eye{
    cursor: pointer;
  }
  
  .inputWrapperFix{
    width: 100%;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
